* {
    box-sizing: border-box;
    font-family: cursive;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    background: #303030;
}

a {
    color: white;
    text-decoration: none;
}

header {
    height: fit-content;
    background: #202020;
    padding: 2vmin;
    display: flex;
    justify-content: space-between;
    font-size: 4vmin;
    grid-column: 1 / 4;
}

.logo, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img, .login {
    height: 5vmin;
}

.logo > img {
    margin-right: 1vmin;
}

.login {
    margin-left: 1vmin;
}

.feed {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    width: 60%;
}

.tabs > div {
    background: gray;
    margin: 1vmin;
    padding: 0.5vmin;
}

.games-list {
    width: 100%;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(101, 98, 98);
    margin: 0.5vmin;
    padding: 1vmin;
}

.stat-bar {
    color: #202020;
    padding: 1vmin;
    overflow: auto;
}

.card {
    background: #202020;
    color: white;
    padding: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    margin: 1vmin;
    /* hide scroll bar, IE & Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card::-webkit-scrollbar {
    /* hide scroll bar, Chrome & Safari */
    display: none;
}

.card > div:first-child {
    font-size: 200%;
}

.card > div:last-child {
    font-size: 70%;
}

.info-bar {
    padding: 1vmin;
}
